@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

/* Custom utility for the glow effect */
.glow-hover:hover {
  box-shadow: 0 0 20px rgba(56, 189, 248, 0.4);
}
